.btn {
  &__create {
    background-color: rgba($color-blue-light, 0.6);
    padding: 1.5rem 3rem;
    border: 2px solid $color-white;
    border-radius: 5rem;
    color: $color-white;
    font-size: 1.8rem;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    transition: all 0.2s;

    &--icon {
      margin-right: 1rem;
      font-size: 2rem;
    }

    &:hover {
      background-color: rgba($color-blue-light, 0.8);
    }

    &:hover > &--icon {
      animation: rotateAnimation 1s;
      display: inline-block;
    }

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(1px);
    }
  }

  &__search,
  &__post-delete {
    color: $color-white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(1px);
    }
  }

  &__post-delete {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
  }

  &__search--icon {
    font-size: 2.5rem;
  }

  &__post-delete--icon {
    font-size: 2.5rem;
    color: $color-red;
  }

  &__post-details {
    background-color: transparent;
    font-size: 1.6rem;
    color: $color-blue;
    border: none;
    border-bottom: 1px solid $color-blue;
    margin-right: 3rem;
    cursor: pointer;

    span {
      transition: all 0.2s;
    }

    &:hover > span {
      margin-left: 0.4rem;
    }

    &:focus {
      outline: none;
    }
  }

  &__close-popup {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s;

    &--icon {
      font-size: 3rem;
      color: $color-red;
    }

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(1px);
    }
  }

  &__submit {
    background: linear-gradient(
      to right bottom,
      $color-blue-light,
      $color-blue-dark
    );
    align-self: stretch;
    color: $color-white;
    font-size: 1.6rem;
    font-weight: 300;
    border: 2px solid $color-blue-dark;
    margin-top: 3rem;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 0.2s;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(1px);
    }
  }

  &__more-posts {
    background-color: rgba($color-blue-light, 0.6);
    border: 2px solid white;
    border-radius: 5rem;
    margin-bottom: 8rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
    color: $color-white;
    font-size: 1.8rem;
    font-family: "Lato", sans-serif;
    transition: all 0.2s;

    &:focus {
      outline: none;
    }
    
    &:active {
      transform: translateY(1px);
    }
  }
}
