.popup {
  &__background {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;

    &--shown {
      z-index: 99;
      display: block;
    }
  }

  &__modal {
    background-color: $color-white;
    height: 50rem;
    width: 70rem;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 2px solid $color-blue-dark;
    border-radius: 1rem;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: none;

    &--shown {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 70%;
    width: 70%;
  }

  &__title-input {
    background-color: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid $color-grey;
    font-size: 2rem;
    color: $color-blue-dark;

    &:focus {
      outline: none;
      border-bottom: 2px solid $color-blue-dark;
    }
  }

  &__post-input {
    resize: none;
    background-color: transparent;
    height: 50%;
    width: 100%;
    border: 1px solid $color-grey;
    font-size: 2rem;
    color: $color-blue-dark;

    &:focus {
      outline: none;
      border-bottom: 2px solid $color-blue-dark;
    }
  }

  .error-title,
  .error-comment {
    font-size: 1.4rem;
    color: $color-red;
  }

  .error-title .active,
  .error-comment .active {
    padding: .3rem;
  }

  .invalid {
    &:focus {
      outline: none;
      border-bottom: 2px solid $color-red;
    }
  }
}
