.search {
  overflow: hidden;

  &__input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $color-white;
    color: $color-white;
    font-size: 1.6rem;
    padding: 1rem;
    display: none;

    &--shown {
      display: inline-block;
      animation: searchAnimation .4s;
    }

    &::-webkit-search-cancel-button {
      display: none;
    }

    &:focus {
      outline: none;
    }
  }
}